@keyframes move-1 {

    20% {
     transform: rotateX(20deg);
   } 
  }

  a{
    text-decoration: none;
  }

  .buttonLink, .branchLink{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0.313em;
    opacity: 0.5;
    box-shadow: 0.313em 0.313em 0.313em #0d0d0d;
    animation: move-1 3s infinite;
  }
  
  .buttonLink{
    width: 21.875rem;
    height: 28.125rem;
  }

  .branchLink {
    margin-top: 0.313rem;
    height: 12.5em;
    width: 12.5em;
    text-align: center;
  }
  
  .buttonLink:hover, .branchLink:hover{
    cursor: pointer;
    opacity: 1;
    transition: ease-in 1s;
  }

  .buttonLink h1, .branchLink h1{
    padding-top: 1.563em;
    color: #ff0000;
    text-shadow: -1px 0 #ffff00, 0 1px  #ffff00, 1px  0 #ffff00, 0 -1px #ffff00, 5px 5px #008000;
    font-size: 2rem;
  }

  :is(.early-history, .independence, .present,.culture, .art, .sports, .govt, .executive,.legislative, .judicial){
    background-repeat: no-repeat;
    background-size: cover;
  }
  .early-history{
    background-image: url('../assests/akan-artifact.jpg'); 
  }

  .independence{
    background-image: url('../assests/kn.jpg'); 
  }

  .present{
    background-image: url('../assests/traffic.jpg'); 
    background-position: 60%;
  }

  .culture{
    background-image: url('../assests/culturalEnv.jpg'); 
    background-position: 60%;
  }

  .art{
    background-image: url('../assests/litart.jpg'); 
    background-position: 60%;
  }

  .sports{
    background-image: url('../assests/kudus.jpg'); 
    background-position: 60%;
  }

  .govt{
    background-image: url('../assests/peopeGH.jpg'); 
    background-position: 60%;
  }

  .parties{
    background-image: url('../assests/politicalparty.jpg'); 
    background-size: contain;
    background-position: 60%;
  }

  .executive{
    background-image: url('../assests/seal.png'); 
    background-size: contain;
  }

  .legislative{
    background-image: url('../assests/Ghana_Parliament_Emblem.png'); 
    background-position: 60%;
  }

  .judicial{
    background-image: url('../assests/supreme.jpg'); 
    background-position: 60%;
  }

  .heads{
    background-image: url('../assests/former-pres.jpg'); 
    background-size: contain;
  }
