@keyframes move-1 {

    20% {
     transform: rotateX(20deg);
   } 
  }

  a{
    text-decoration: none;
  }

  /* Buttons & Elements */
  .buttonLink, .branchLink{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0.313em;
    opacity: 0.5;
    box-shadow: 0.313em 0.313em 0.313em #0d0d0d;
    animation: move-1 3s infinite;
  }

  
  .buttonLink{
    width: 21.875rem;
    height: 28.125rem;
  }

  .branchLinkcontain{
    display: grid;
    grid-template-columns: 12.5rem 12.5rem  ;
    grid-template-rows: 12.5rem 12.5rem  ;
    row-gap: 10px;
    column-gap: 10px;
  }

  .branchLink {
    margin-top: 0.313rem;
    height: 12.5em;
    width: 10em;
    text-align: center;
  }
  
  .buttonLink:hover, .branchLink:hover{
    cursor: pointer;
    opacity: 1;
    transition: ease-in 1s;
  }

  .buttonLink h1, .branchLink h1{
    padding-top: 1.563em;
    color: var(--theme-red);
    text-shadow: -1px 0 var(--theme-yellow), 0 1px  var(--theme-yellow), 1px  0 var(--theme-yellow), 0 -1px var(--theme-yellow), 5px 5px var(--theme-green);
    font-size: 2rem;
  }

   /* Button Background Images & Styling*/
  :is(.early-history, .independence, .present,.culture, .art, .sports, .govt, .executive,.legislative, .judicial){
    background-repeat: no-repeat;
    background-size: cover;
  }

  :is( .present,.culture,.art,.sports, .govt,.parties,.executive,.legislative,.judicial ){
    background-position: 60%;
  }

  :is( .parties,  .heads){
    background-size: contain;
  }
  
 
  .early-history{
    background-image: url('../assests/akan-artifact.jpg'); 
  }

  .independence{
    background-image: url('../assests/kn.jpg'); 
  }

  .present{
    background-image: url('../assests/traffic.jpg'); 
  
  }

  .culture{
    background-image: url('../assests/culturalEnv.jpg'); 
  }

  .art{
    background-image: url('../assests/litart.jpg'); 
  }

  .sports{
    background-image: url('../assests/kudus.jpg'); 
  }

  .govt{
    background-image: url('../assests/peopeGH.jpg'); 
  }

  .parties{
    background-image: url('../assests/politicalparty.jpg'); 
  }

  .executive{
    background-image: url('../assests/seal.png'); 
  }

  .legislative{
    background-image: url('../assests/Ghana_Parliament_Emblem.png'); 
  }

  .judicial{
    background-image: url('../assests/supreme.jpg'); 
  }

  .heads{
    background-image: url('../assests/former-pres.jpg'); 
  }
