
  .intro-text{
    position: absolute;
    top: 20%;
    left: 2%;
    margin: 4.688rem;
    width: 21.875em;
    font-size: clamp(1.8rem,2vw, 2.2rem);
    line-height: 1.2;
    color: var(--theme-red);
    text-shadow: 4px 4px 4px var(--theme-green);
    -webkit-text-stroke: 1px var(--theme-yellow);
    z-index: 1;
  }

  .intro-button{
    display: block;
    max-width: 9.375rem;
    margin-top: 1.563em;
    background: var(--theme-red);
    text-decoration: none;
    color: var(--theme-yellow);
    letter-spacing: 0.25rem;
    padding: 0.6em 1.3em;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em var(--theme-green);
  }
  
  
  .intro-button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
    cursor: pointer;
  }
  
  .intro-button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }

/* Media Query */
/* Media Query for Mobile Devices */
@media screen and (max-width: 480px){
  .intro-text{
    position: fixed;
    top: 30%;
    left: 30%;
    margin-top: -50px;
    margin-left: -100px;
    width: 12em;
  }
}

