.pop-overlay{
    position: absolute;
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    visibility: hidden;
    transition: all 0.4s;
    opacity: 0;
    z-index: 3;
}


.pop-overlay:target{
    visibility: visible;
    opacity: 1;
}

.explore-modal{
    position: absolute;
    overflow-y: scroll;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 31.25em;
    width: 50%;
    color: #F8F0E3;
    text-shadow: 0.063em 0.063em #cc0000;
    background: rgb(255,0,0);
    background: linear-gradient(180deg, rgba(255,0,0,0.5) 0%, rgba(255,255,0,0.5) 35%, rgba(0,128,0,0.5) 100%);
    backdrop-filter: blur( 0.25rem  );
    -webkit-backdrop-filter: blur( 0.25rem  );
    border-radius: 0.625em;
    z-index: 3;
}

.modal-close{
    font-size: 3.5rem;
}

.explore-head {
    text-align:center;
    margin-top: 1em;
    font-size: 2.813rem;
}

.explore-text{
    padding: 0.625em;
    font-size: 1.875rem;
}

.landmarks{
    display: flex;
    flex-direction: column;
    margin-top: 1.875em;
}

.attraction{
    display: flex;
    height: max-content;
    flex-direction: row;
    padding: 0.313em;
    border-bottom: #F8F0E3 solid 2px;
  }

.attraction img{
    border-radius: 1.563em;
    width: 28.125em;
    margin: 0.625em;
    padding: 0.313em;
}

.attraction div{
    margin-top: 25px;
}
.attraction p{
    font-size: 1.25rem;
}
