
.explore-head {
    text-align:center;
    margin-top: 1em;
    font-size: 2.813rem;
}

.explore-text{
    padding: 0.625em;
    font-size: 1.875rem;
}

.explore-text p{
    display: inline;
}

.explore-text img{
    width:150px;
    height:150px;
    margin: 0 25px;
    shape-outside: inset(5%);
}

.explore-text img:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: ease-in-out 1s;
}


.landmarks{
    display: flex;
    flex-direction: column;
    margin-top: 1.875em;
}

.attraction{
    display: flex;
    height: max-content;
    flex-direction: row;
    padding: 0.313em;
    border-bottom: #F8F0E3 solid 2px;
  }

.attraction img{
    border-radius: 1.563em;
    width: 28.125em;
    margin: 0.625em;
    padding: 0.313em;
}

.attraction div{
    margin-top: 25px;
}
.attraction p{
    font-size: 1.25rem;
}

/* Media Query */
/* Media Query for Mobile Devices */
@media screen and (max-width: 480px){
 
    .explore-head {
        margin-top: 1.5em;
    }

    .landmarks, .attraction{
        display: flex;
        flex-direction: column;
    }
    .landmarks{
        margin-top: 1.2em;
    }

    .attraction{
        margin: 1.563em;
        align-items: center;
        padding: 0;
    }

    .attraction h1, h2{
        font-size: 2rem;
    }

    .attraction p{
        font-size: 1.7rem;
    }

    .attraction img{
        width: 100%;
    }

}