.videoBack{
   height: 100%;
   width: 100%;
  }

  video{
    height: inherit;
    width: inherit;
    object-fit: cover;
  }

  /* Media Query for Mobile Devices */
@media screen and (max-width: 480px){ 
   video{
     height: inherit;
     width: inherit;
     object-fit: cover;
   }
}