
  .intro-text{
    font-size: clamp(1.8rem,2vw, 2.2rem);
    text-shadow: 4px 4px 4px var(--theme-green);
    -webkit-text-stroke: 1px var(--theme-yellow);
  }

  .intro-button{
    box-shadow: 0.1em 0.1em var(--theme-green);
  }
  
  
  .intro-button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
    cursor: pointer;
  }
  
  .intro-button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }

/* Media Query */
/* Media Query for Mobile Devices */
@media screen and (max-width: 480px){
  .intro-text{
    position: fixed;
    top: 30%;
    left: 30%;
    margin-top: -50px;
    margin-left: -100px;
    width: 12em;
  }
}

