

.navagation-link::before{
  content: "";
  display: block;
  height: 5px;
  background-color: var(--theme-red);;
  transition: all 1s;
  opacity: 0;
} 

 .navagation-link::after{
  content: "";
  display: block;
  height: 5px;
  background-color: var(--theme-green);
  transition: all 1s;
  opacity: 0;
}

.navagation-link:hover::before{
  content: "";
  display: block;
  height: 5px;
  background-color: var(--theme-red);
  opacity: 1; 
} 

.navagation-link:hover::after{
  content: "";
  display: block;
  height: 5px;
  background-color: var(--theme-green);
  opacity: 1; 
}
