@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 0.625rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--theme-yellow);
  border-radius: 0.625rem; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--theme-green);
  border-radius: 0.625rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--theme-red); 
  cursor: pointer;
}

:root{
  --theme-red:#cc0000;
  --theme-yellow:#ffff00;
  --theme-green:#008000;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}



a{
  text-decoration: none;
}

/* video{
  height: inherit;
  width: inherit;
  object-fit: cover;
} */