*{
  margin: 0;
  padding: 0;
}

html{
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0.625rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffff00;
  border-radius: 0.625rem; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #008000;
  border-radius: 0.625rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff0000; 
  cursor: pointer;
}

main{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Roboto Condensed', sans-serif;
}
